ENV=local

PORT=3420

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=

ALPHAVANTAGE_HOST=https://www.alphavantage.co/
ALPHAVANTAGE_API_KEY=ZVEHGPTS6QRUU8IT

STOCKY_USER=stocky
STOCKY_PASSWORD=secret
